:root {
    --primary-color: #343343;
    --secondary-color: #1137ab;
    --tertiary-color: rgb(118, 106, 150);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header styling start  */
header {
    background-color: var(--primary-color);
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

header h1 a {
    padding: 5px;
    text-decoration: none;
    font-size: 50px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 9px solid var(--primary-color);
    
}

header nav ul {
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
}

header nav ul li a {
    padding: 0 20px 0 20px;
    background-color: var(--tertiary-color);
    border: 5px solid var(--primary-color);
    
    margin: 0 10px 0 10px;
} 

header img {
    width: 20%;
    height: 20%;
    margin: 20px 0 0 100px;
}

/* Header styling end  */

/* My Bio styling start */
main {
    background-color: var(--tertiary-color);
}
.section-title{
    font-size: 48px;
    font-style: italic;
    color: var(--secondary-color);
    text-align: center;
    border-bottom: 3px solid var(--secondary-color);
    margin: 0 auto 30px auto ;
    width: 60%;
}

.About-me p {
    margin: 0 auto 10px auto;
    padding: 0px 400px 10px 400px;
}
/* My Bio styling end */

/* My Work styling start */
.Images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.main-img {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.main-img h3 {
    position: absolute;
    color: #fce138;
    text-shadow: 0 0 10px rgb(0 0 0 /50%)
}

.main-img a{
    display: flex;
    justify-content: center;
}
.main-img img {
    width: 50%;
    height: 50%;
}
.sub-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;

}
.sub-img h3 {
    position: absolute;
}
.sub-img img{
    width: 25%;
    height: 25%;
}

.my-work h3 {
    font-size: 30px;
}
/* My Work styling wnd */

/* Footer styling start  */
footer {
    background-color: var(--tertiary-color);
}
footer article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
    
    text-decoration: none;
    padding: 20px 20px 50px 20px;
}
/* Footer styling end  */

/* Mediaqueries/utilities */
@media screen and (max-width: 980px){
    header{
         justify-content: center;
    }

    header h1 a {
        font-size: 35px;
    }
    header nav ul li a {
        margin: 0;
        font-size: 30px;
    }

    header img {
        justify-content: center;
        margin: 0;
    }

    .About-me p {
        padding: 0 10px 10px 10px;
    }

    .my-work .Images h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 786px){
    header{
         justify-content: center;
    }
}

@media screen and (max-width: 575px){
    header{
         justify-content: center;
         flex-direction: column;
         align-items: center;
    }

    header h1 a {
        font-size: 25px;
    }
    header nav ul li a {
        margin: 0;
        font-size: 20px;
        display: contents;
        color: white;
       
    }
    header nav ul li {
        padding: 10px;
    }
    .About-me p {
        font-size: 15px;
    }
}
/* MediaWueries End  */